*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color:white;
    font-family:monospace;
    padding: 40px;

}
.move{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: auto;
    padding: 20px;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.move span{
    padding: 10px 20px;
    border-radius: 12px;
    background: black;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0,0,0,0,1);
    cursor: pointer;

}
.move span:hover{
    background: #ddd;
}
.grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap:60px;
    margin: 40px auto;
    max-width: 1200px;
    
   
}
.grid-card{
    background-color: black;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
   
    gap: 10px;
}
.pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
.content{
    padding:10px;
    text-align: center;
    font-size: 0.4rem;
    flex: 1;
    min-height: 60px;

}
.grid-card.big{
    grid-column: span 2;
    height: auto;

}
.grid-card.tall{
    grid-row: span 2;
}